<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="KPIntroSiteforGA.css">
  <style>
    head {
      text-align: center;
  }
    }
      body {
  font-family: arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}
.lotus {
float: right;
margin-right: 20px;
color: #00C5CD;
position: right;
}
.summary {
  text-align: justify;
  color: white;
  position: left;
  margin: 100px 700px 0px 50px;
  background-color: #00C5CD;
  line-height: 200%;
  border-radius: 10px;
}
.selfiecats {
  text-align: center;
  margin: 20px 20px 20px 20px;
  background-color: white;
}
#selfie {
  margin: 20px 0 0 0;
}
.contact {
  text-align: justify;
  margin: 20px 300px 50px 300px;
  background: #00C5CD;
  border-radius: 10px;
  color: white;
  line-height: 150%;
}
.figure {
  color: #00C5CD;
}
    a {
    color: white;
    display: block;
    text-align: center;
}
:visited {
  color: orange;
  text-align: left;
  }
.figcaption {
    color: #00C5CD;
  }
    }
    h1 {
      font-size: 300px;
      color: #00868B;
      margin-top: 100px;
      margin-bottom: 500px;
    }
    h2 {
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      position: center;
    }
    h3 {
      font-size: 30px;
      font-color: #00868B;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      position: center;
    }
  img {
  margin: 40px 0px 0px 0px;
  border: 20px;
  border-radius: 100px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      text-align: left;
    }
  </style>

 
